p {
  color: blue;
  font-family: menlo;
  text-indent: 25px;
  text-outline: black 5px solid;
}
p2 {
  font-weight: bold;
}
p3 {
  font-weight: bold;
  color: red;
}
h1 {
  font-family: Monaco;
  text-shadow: 1px 1px;
}
body {
  background-color: lightblue;
}
p4 {
  font-style: italic;
}
#luis {
  text-decoration: line-through;
}
#jets {
  color: green;
  font-family: Courier New;
}
#lakers {
  color: purple;
}
#usc {
  color: maroon;
}
#arsenal {
  color: red;
}
.sports-image {
  height: 100px;
  width: 100px;
  border: 1px solid;
}
